<mat-toolbar color="primary" >
  <form *ngIf="!(authService.userSignedIn$ | async)" class="login-form"  #f="ngForm" (ngSubmit)="onSignInSubmit()">
    <mat-form-field class="login-textfields" style="margin-right: 10px;" >
      <input matInput placeholder="Email" [(ngModel)]="signInUser.login" name = login 
        #login="ngModel" pattern="[^ @]*@[^ @]*." required>
        <mat-error *ngIf="login.errors && (login.dirty || login.touched)">
          <p *ngIf="login.errors.required">Email is required</p>
          <p *ngIf="login.errors.pattern">Please enter a valid email address </p>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="login-textfields">
      <input matInput placeholder="Enter your password" [(ngModel)]="signInUser.password" 
        name = password type="password" minlength="8" #password="ngModel" required>
        <mat-error *ngIf="password.errors && (password.dirty || password.touched)">
          <p *ngIf="password.errors.required">Password is required</p>
          <p *ngIf="password.errors.minlength">Password must be at least 8 characters long</p>
        </mat-error>
    </mat-form-field>
  <button mat-flat-button color="primary">Submit</button>
  </form>
<button mat-flat-button color="primary" (click)="logOut()" *ngIf="authService.userSignedIn$ | async">LOGOUT</button>

</mat-toolbar>

<!-- <pre>{{f.value | json}}</pre> -->