<!-- <div class="register-header">

  <img class="logo1" src="assets/img/Facebook.svg" alt="">
  <img class="logo2" src="assets/img/fb.png" alt="">
  
<div *ngIf="!(authService.userSignedIn$ | async)"  >
  <form (ngSubmit)="onSignInSubmit()" #f="ngForm"  >
    <table class="sign_in_form">
      <tbody>
        <tr>
          <td class="sign_in_label">Email or Phone</td>
          <td class="sign_in_label">Password</td>
        </tr>
        <tr>
          <td><input [(ngModel)]="signInUser.login" class="sign_in_input"  type="email" required name='email' ></td>
          <td><input [(ngModel)]="signInUser.password"  class="sign_in_input"  type="password" required name='password' ></td>
          <td><button [disabled]="!(f.valid)" type="submit" class="btn btn-primary btn-sm" id="submit">login</button></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div><a>Forgotten account?</a></div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div> 


</div>

<button class="btn btn-primary btn-sm" (click)="logOut()" *ngIf="authService.userSignedIn$ | async" >LOGOUT</button> -->
<mat-toolbar color="primary" >
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="primary">Comonents</button>
  <button mat-flat-button color="primary">CDK</button>

</mat-toolbar>