<div class="register-header">
  <img class="logo" src="assets/img/Facebook.svg" alt="">
      <table class="sign_in_form">
        <tbody>
          <tr>
            <td class="sign_in_label">Email or Phone</td>
            <td class="sign_in_label">Password</td>
          </tr>
          <tr>
            <td><input class="sign_in_input" type="email"></td>
            <td><input class="sign_in_input" type="password"></td>
            <td><button class="btn btn-primary btn-sm" id="submit">login</button></td>
          </tr>
          <tr>
            <td></td>
            <td><div><a>Forgotten account?</a></div></td>
          </tr>
        </tbody>
      </table>
</div>

<div class="register-body">
  body
</div>

<div class="register-footer">
  footer
</div>

