.register-body
   height: 585px
   background: #e8eaed

.register-footer
   height: 140px

td 
    padding-top: 3px

a
   color: #9cb4d8

#submit
   padding-top: 2px
   padding-bottom: 2px

.inline
   display: inline

